* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Cabeçalho   :*/

    header {
        position: fixed;
        background: linear-gradient(135deg, #2F4F4F, #2E8B57);
        width: 100%;
        height: 59px;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    header a {
        color:white;
        padding-left: 20px;
        font-style: italic;
        opacity: 0.8;
        font-size:30px
    }


    header p:hover{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        opacity: 1.0;
    }

    header p a{
    text-decoration: none;
}


main {
    display: flex;
    flex-direction: column;
    padding-top: 79px;
    gap:60px;
    background: #374d57;
    background: linear-gradient(90deg,rgba(55, 77, 87, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 166, 111, 1) 56%, rgba(76, 135, 76, 1) 100%, rgba(237, 221, 83, 1) 100%);
    height: 150vh;
}

main h1 {
    text-align:center;
    padding-top: 80px;
    font-size:75px;
    color:white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

main form {
    display:flex;
    flex-direction: column;
    gap:20px;
}


main h3{
    font-size: 40px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.pessoal {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    gap:10px
}




.pessoal label {
    font-size: 25px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}


.campo {
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top: 30px;

}


.campo input {
    border-radius: 10px;
    border:none;
    height: 44px;
    width: 440px;
    background-color: #98FB98;
}

.campo input:placeholder-shown{
    text-align: center;
}





.comentarios {
display: flex;
flex-direction: column;
border:none;
align-items: center;

}

.comentarios label {    
    font-size: 45px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}


.comentarios input {
    width:300px;
    height: 100px;
    border-radius: 20PX;
    border:none;

}

.comentarios button {
    width:350px;
    border-radius: 40px;
    border:none;
    height: 55px;
    background-color: #228B22;
    font-size: 50px;
    color:white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


footer {
    background-color: #2F4F4F;
    height: 40px;
}

footer p {
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 9px;
}